<div class="commands">
  <h3>Some helpful commands</h3>
  <ul>
    <li><b>Install:</b> npm install -g ember-cli</li>
    <li><b>New:</b> ember new hello_world</li>
    <li><b>Server:</b> ember serve</li>
    <li><b>Create Route:</b> ember g route pages</li>
    <li><b>Create Component:</b> ember g component nav_links</li>
    <li><b>Loops (With Double Brackets):</b> "{#each this.user as |user|} user.name {/each}"</li>
  </ul>
  {{overview-ember}}
</div>
