<div class="commands">
  <h3>Some helpful commands</h3>
  <ul>
    <li>Install: npm install -g ember-cli</li>
    <li>New: ember new hello_world</li>
    <li>Server: ember serve</li>
    <li>Create Route: ember g route pages</li>
    <li>Create Component: ember g component nav_links</li>
    <li>Loops <b>(With Double Brackets)</b>: "{#each this.user as |user|} user.name {/each}"</li>
  </ul>
</div>
