<ul class="nav">
  <li><a href="https://emberjs.com/api/ember/release" target="_blank" alt="docs">Docs</a></li>
  <li><a href="https://emberjs.com/ember-users/" target="_blank" alt="community">Community</a></li>
</ul>
