<div class="overview">
  <ul>
    <li><b>Route:</b> Model & Event Handlers</li>
    <li><b>Controller:</b> Application State & Event Handlers</li>
    <li><b>Template (View):</b> Expressions/Outlets/Components</li>
  </ul>
</div>
