.ember-application{
  margin: 0;
  background: #DF4E39;
  font-style: normal;
  font-family: sans-serif;
  font-weight: 100;
}
.ember-application a{
  text-decoration: none;
}
.header{
  height: 100px;
  width: 100%;
  background: #fff;
}
.header a{
  color: #DF4E39;
}
.header h1{
  font-size: 32px;
  font-weight: 100;
  font-style: italic;
  font-family: sans-serif;
  line-height: 100px;
  margin: 0;
  float: left;
  color: #DF4E39;
  padding-left: 5%;
  width: fit-content;
}
.nav{
  float: right;
  display: block;
  width: 30%;
  line-height: 100px;
  margin: 0;
}
.nav li{
  display: inline-block;
  margin-right: 25px;
}
.nav li a{
  text-decoration: none;
  color: #DF4E39;
}
.splash{
  height: calc(100vh - 100px);
  width: 100%;
  background: #DF4E39;
  position: relative;
}
.splash-inner{
  padding: 50px 10%;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background: #DF4E39;
  color: #ffb0a5;
}
.splash-inner h2{
  font-size: 48px;
  width: 75%;
  margin: 12.5% auto;
  text-align: center;
  line-height: 60px;
}
.splash-inner a{
  color: #fff;
  text-decoration: none;
}
