<div class="home">
  <div class="header">
    <h1><a href="/" alt="ember.js">Ember.js</a></h1>
    {{nav-links}}
  </div>
  <div class="splash">
    <div class="splash-inner">
      <h2>Build a web app in<br /><a href="https://www.emberjs.com/" target="_blank" alt="ember.js">Ember.js</a></h2>
    </div>
  </div>
</div>
{{outlet}}
{{command-line}}
