<div class="home">
  <div class="splash">
    <div class="splash-inner">
      <h2>Build a web app with<br /><a href="https://www.emberjs.com/" alt="ember.js">Ember.js</a></h2>
    </div>
  </div>
</div>
